# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
*/vendor/*

# Ignore php_cs
/.php_cs.cache

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml